name: Build And Release

on: [workflow_dispatch, push]

jobs:
  Build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        arch:
          - x64
          - arm64

    runs-on: ${{matrix.os}}
    steps:
      - name: Checking out Repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      # linux
      - name: Install Rust
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: ${{ matrix.arch == 'arm64' && 'aarch64-unknown-linux-gnu' || 'x86_64-unknown-linux-gnu' }}

      # macos
      - name: Install Rust
        if: ${{ matrix.os == 'macos-latest' }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: ${{ matrix.arch == 'arm64' && 'aarch64-apple-darwin' || 'x86_64-apple-darwin' }}

      # windows
      - name: Install Rust
        if: ${{ matrix.os == 'windows-latest' }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: ${{ matrix.arch == 'arm64' && 'aarch64-pc-windows-msvc' || 'x86_64-pc-windows-msvc' }}

      - name: Building
        run: pnpm install

      - name: Uploading
        if: ${{github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')}}
        uses: actions/upload-artifact@v3
        with:
          name: bin-${{runner.os}}-${{matrix.arch}}
          path: bin/**

  Release:
    if: ${{github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')}}
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checking out Repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Download Artifacts
        uses: actions/download-artifact@v3

      - name: Fix Directory Structure
        run: |
          mkdir bin
          mv bin-*/* bin/
          rm -rf bin-*
          sudo chmod -R +x bin

      # this will only publish if the version has been updated
      - name: NPM Publish
        uses: JS-DevTools/npm-publish@v2.2.1
        with:
          token: ${{secrets.NPM_TOKEN}}
